.header-title {
	margin-top: 30px;
	margin-bottom: 10px;
}

.my-container {
	margin-left: 15%;
	margin-right: 15%;
}

.body-container {
	background-color: white;
	padding: 30px;
}

.head-box-title {
	margin-bottom: 4px;
}

.box-title {
	margin-top: 30px;
	margin-bottom: 4px;
}

.box {
	height: 40px !important;
}

.btn-edit-product {
	margin-top: 55px;
	width: 100%;
	height: 40px;
}

.btn-edit-cat {
	margin-top: 30px;
	width: 100%;
	height: 40px;
}

.delete-message {
	font-size: 20px;
}